<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알바 등록</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        function register() {
            let form = document.querySelector("#workRegi");
            axios({
                method: 'post',
                url: '/register',
                data: {
                    work: form.work.value,
                    time: form.time.value,
                    attend: form.attend.value
                }
            })
            .then((res)=>{
                if (res) { 
                    alert ('등록이 완료되었습니다.')
                    document.location.href = '/home'
                }
                else { 
                    alert ('등록실패! 다시 시도해 주십시오.')
                    document.location.href = '/register'
                }
            })
        };
    </script>

</head>
<body>
    <fieldset style="width: 300px;">
        <legend>알바 등록</legend>
        <form id="workRegi" action="/register" method="post">
            등록할 이름 : <input type="text" name="work" required placeholder="nickname"><br><!--sql에서 자동생성되도록 할 것-->
            일일 근무시간 : <input type="number" min="1" max="8" name="time" required><br>
            <fieldset>
                <legend>출근 횟수</legend>
                주 <input type="number" name="attend" min="1" max="7">회
            </fieldset>
            <button onclick="register()">등록</button>
        </form>
    </fieldset>
    <div>
        <button type="button" onclick="location.href='/home'">홈</button>
    </div>
</body>
</html>