<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알바 등록</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function register() {
            let form = document.querySelector("#workRegi");
            axios({
                method: 'post',
                url: '/success',
                data: {
                    work: form.work.value,
                    time: form.time.value,
                    attend: form.attend.value
                }
            })
            .then((res)=>{
                document.querySelector('#regiMsg').innerText = res.data.msg;
            })
        };
    </script>

</head>
<body>
    <fieldset style="width: 300px;">
        <legend>알바 등록</legend>
        <form id="workRegi" action="/success" method="post">
            등록할 이름 : <input type="text" name="work" required placeholder="nickname"><br><!--sql에서 자동생성되도록 할 것-->
            일일 근무시간 : <input type="number" min="1" max="8" name="time" required><br>
            <fieldset>
                <legend>출근 횟수</legend>
                <input type="radio" name="attend" value="1">주 1회
                <input type="radio" name="attend" value="2">주 2회
                <input type="radio" name="attend" value="3">주 3회
                <input type="radio" name="attend" value="4">주 4회
                <input type="radio" name="attend" value="5">주 5회
                <input type="radio" name="attend" value="6">주 6회
                <input type="radio" name="attend" value="7">매일
            </fieldset>
        </form>
        <br>
        <button onclick="register()">등록</button>
    </fieldset>
    <br><button type="button" onclick="location.href='/home'">홈</button>
    <div id="regiMsg"></div>
</body>
</html>