<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script>
        function result() {
            axios({
                method:'post',
                url: '/upload'
            })
            .then((res)=>{
                document.querySelector('').innerHTML = 
            })
        }
    </script> -->
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>개인 정보</legend>
            아이디 : <input type="text" name="id"><br>
            비밀번호 : <input type="password" name="pw"><br>
            이름 : <input type="text" name="name"><br>
            나이 : <input type="number" name="age">
        </fieldset>
        <input type="file" name="userfile">
        <button>리셋</button>
        <button>회원가입</button>
    </form>
</body>
</html>