<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<form id="form_register" method="post" style="margin-right: 20px">
  <fieldset>
    <h3>회원 정보</h3>
    아이디 <input type="text" placeholder="id" name="id">
    <br>
    비밀번호 <input type="password" name="pw">
    <br>
    <br>
    <h3>추가 정보</h3>
    이름 <input type="text" placeholder="name" name="name">
    <button type="button" onclick="register();">회원가입</button>
  </fieldset>
</form>
</body>
<script>
        var form = document.getElementById('form_register');
        function register() {
        axios.post(`/person/register`, {
        id: form.id.value,
        name: form.name.value,
        pw: form.pw.value
        })
        .then((res)=>{
            alert('회원 가입 완료!');
            window.location.href = "/person/login"
        });
    }
</script>
</html>