<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/dto/response1" method="get" style="margin-right: 20px;">
    <h3>Get - DTO</h3>
    이름 : <input type="text" name="name">
    <br>
    나이 : <input type="text" name="age">
    <br>
    <button type="submit">GET 전송</button>
</form>
<form action="/dto/response2" method="post" style="margin-right: 20px;">
    <h3>Post - DTO</h3>
    이름 : <input type="text" name="name">
    <br>
    나이 : <input type="text" name="age">
    <br>
    <button type="submit">Post 전송 ( RequestBody x )</button>
</form>
<form action="/dto/response3" method="post" style="margin-right: 20px;">
    <h3>Post - DTO</h3>
    이름 : <input type="text" name="name">
    <br>
    나이 : <input type="text" name="age">
    <br>
    <button type="submit">Post 전송 ( RequestBody O )</button>
</form>
<hr>
<form action="/vo/response1" method="get" style="margin-right: 20px;">
    <h3>Get - VO</h3>
    이름 : <input type="text" name="name">
    <br>
    나이 : <input type="text" name="age">
    <br>
    <button type="submit">GET 전송</button>
</form>
<form action="/vo/response2" method="post" style="margin-right: 20px;">
    <h3>Post - VO</h3>
    이름 : <input type="text" name="name">
    <br>
    나이 : <input type="text" name="age">
    <br>
    <button type="submit">Post 전송 ( RequestBody x )</button>
</form>
<form action="/vo/response3" method="post" style="margin-right: 20px;">
    <h3>Post - VO</h3>
    이름 : <input type="text" name="name">
    <br>
    나이 : <input type="text" name="age">
    <br>
    <button type="submit">Post 전송 ( RequestBody O )</button>
</form>
</body>
</html>