<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // axios // 
        function sendGet_axios() {
            let form = document.getElementById('form_info');
            axios({
                method: 'get',
                url: '/form',
                params: {
                    id: form.id.value,
                    pw: form.pw.value
                }
            }).then((res) => {
                document.querySelector(".login").innerHTML = res.data.msg;
            });
        }

        function sendPost_axios() {
            let form = document.getElementById('form_info');
            axios({
                method: 'post',
                url: '/form',
                data: {
                    id: form.id.value,
                    pw: form.pw.value
                }
            }).then((res) => {
                document.querySelector(".login").innerHTML = res.data.msg;
                console.log(res); // 서버응답 : 전체. 그 중 data : {msg: "<p style='color:red;'>로그인 실패</p>"}
            });
        }

        // ajax //
        function sendGet_ajax() {
            let form = document.getElementById('form_info');
            $.ajax({
                type:'GET',
                url: '/form',
                data: { id: form.id.value, pw: form.pw.value},
                success: function(res) {
                    console.log(res)
                    document.querySelector(".login").innerHTML = res.msg;//서버응담 : msg : "<p style='color:red;'>로그인 실패</p>"
                }
            })
        }

        function sendPost_ajax() {
            let form = document.getElementById('form_info');
            $.ajax({
                type:'POST',
                url: '/form',
                data: { id: form.id.value, pw: form.pw.value},
                success: function(res) {
                    console.log(res)
                    document.querySelector(".login").innerHTML = res.msg;
                }
            })
        }

        // fetch //
        function sendGet_fetch() {
            let form = document.getElementById('form_info');
            let urlQuery = `?id=${form.id.value}&pw=${form.pw.value}`
            fetch('/form'+urlQuery, { method: 'get'})
            .then(function(response){return response.json()})
            .then(function(res) { document.querySelector(".login").innerHTML = res.msg })
        }

        function sendPost_fetch() {
            let form = document.getElementById('form_info');
            fetch('/form',{
                method:'post',
                headers: { "Content-Type": "application/json"},
                body: JSON.stringify({ id: form.id.value, pw: form.pw.value})
            })
            .then(function(response) { return response.json()})
            .then(function(res) {
                console.log(res)
                //document.querySelector(".login").innerHTML = res.msg;
            })
        }

    </script>
    <title>dynamic</title>
</head>
<body>
    
    <form id="form_info">
        아이디 : <input type="text" name="id"><br>
        비밀번호 : <input type="password" name="pw"><br>
        
        <div class="login"></div>

        <button type="button" onclick="sendGet_axios()">axios Get로그인</button>
        <button type="button" onclick="sendPost_axios()">axios Post로그인</button>
        <button type="button" onclick="sendGet_ajax()">ajax Get로그인</button>
        <button type="button" onclick="sendPost_ajax()">ajax Post로그인</button>
        <button type="button" onclick="sendGet_fetch()">fetch Get로그인</button>
        <button type="button" onclick="sendPost_fetch()">fetch Post로그인</button>
        
    </form>
</body>
</html>