<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function sendGet() {
            let form = document.getElementById('form_info');
            //form.name.value 폼 태그의 name속성이 'name'인 것의 값을 가져오겠다
            //form.age.value = 폼 태그의 name속성이 'age'인 것의 값을 가져오겠다
            fetch("/form",{
                method: 'get',
                params: {name: form.name.value}
            }).then(function(res){//서버에서 보낸 응답 전체 = res
                alert(res.data.msg);//전체 응답 중 data에 res.send의 내용이 담겨옴
            });
        }

        function sendPost() {
            let form = document.getElementById('form_info');
            fetch("/form",{
                method: 'post',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(
                    {name: form.name.value}
                ) // 요청데이터
            })
            .then(function(response){ return response.json()})
            .then((result)=>{
                console.log('fetch');
                console.log(result.msg);
            })
        }
    </script>
    <title>fetch</title>
</head>
<body>
    <button type="button" onclick="sendGet()">get</button>
    <button type="button" onclick="sendPost()">post</button>
    <form id="form_info">
        <input type="text" name="name">
    </form>
</body>
</html>