<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        .d-none {
            display: none;
        }
    </style>
</head>
<body>
    <h3>Welcome!</h3>
    <div class="login_result"></div>
    <form id="member_info">
        <div>ID :</div>
        <input type="text" name="id">
        <div>PW :</div>
        <input type="password" name="pw">
        <div class="register-btn">Name : <br><input type="text" name="name"></div>
        <br>
        <div class="edit-btn d-none">
            <button type="button" onclick="">Edit</button>
            <button type="button" onclick="">Delete</button>
        </div>
        <div class="register-btn">
            <button type="button" onclick="join()">Register</button>
        </div>
        <div class="login-btn d-none">
            <button type="button" onclick="login()">Login</button>
            <button type="button" onclick="">Register</button>
        </div>
    </form>

    <script>
        function join() {
            let form = document.querySelector('#member_info');
            axios({
                method: 'post',
                url: '/join',
                data: {
                    id: form.id.value,
                    pw: form.pw.value,
                    name: form.name.value
                }
            })
            .then((response)=>{
                alert('회원가입 완료')
                $('.login-btn').removeClass('d-none');
                $('.register-btn').addClass('d-none');
                document.querySelector('h3').innerText = 'Please Login.'
                form.id.value = '';
                form.pw.value = '';
            })
        }

        function login(){
            let form = document.querySelector('#member_info');
            data = {id: form.id.value,
                    pw: form.pw.value}
            axios({
                method: 'post',
                url: '/login',
                data: data
            }).then((res)=>{
                document.querySelector('.login_result').innerHTML = res.data.msg;
                })
        }
    </script>
</body>
</html>