<header>
    <a href="#" class="logo">
        <img src="apple.jpg">
    </a>
    <input type="checkbox" id="menuicon">
    <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="sidebar">
        <div class="menuList">
            <a href="#">홈</a><br>
            <a href="#">설정</a><br>
            <a href="#">알바 등록</a>
        </div>
    </div>
</header>
<article>
    <div class="calander" id="mainContent"><!-----------------달력 전체 틀----------------->
        <!---------------윗부분--------------->
        <div class="controler">
            <div class="nav-calander" onclick="prevMonth()">&lt;</div>
            <div class="year-month" onclick="goToday()"></div> <!--현재 연,월 표시 "2022년 11월" -->
            <div class="nav-calander" onclick="nextMonth()">&gt;</div>
        </div>
        <div class="selectWork">
            <select>
                <option>work1</option>
                <option>work2</option>
            </select>
        </div>  
        <!---------------윗부분 끝--------------->

        <div class="main"> <!---------------메인 시작--------------->
            <div class="days"> <!--요일-->
                <div class="day">일</div>
                <div class="day">월</div>
                <div class="day">화</div>
                <div class="day">수</div>
                <div class="day">목</div>
                <div class="day">금</div>
                <div class="day">토</div>
            </div>
            <div class="dates"><!--날짜--></div>
        </div> <!---------------메인 끝--------------->
    </div><!-----------------달력 전체 끝----------------->
</article>