@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*테두리를 기준으로 크기를 정함*/
    font-family: "Noto Sans KR", sans-serif;
}

 .logo img {
    width: 100px;
}
/*사이드바*/
input[id="menuicon"] {
    display: none;
    float: right;
}

input[id="menuicon"] + label {
    display: block;
    margin: 30px;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    float: right;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #8C8C8C;
    transition: all .35s;
}

input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked + label {
    z-index: 2;
}

input[id="menuicon"]:checked + label span {
    background: pink;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.sidebar {
    width: 300px;
    height: 100%;
    background: #EAEAEA;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all .35s;
}

input[id="menuicon"]:checked + label + div {
    right: 0;
}

.sidebar .menuList {
    position: absolute;
    top: 100px;
    left: 30px;
}

.menuList a {
    text-decoration-line: none;
    color: black;
}

/*달력전체*/ 
article {
    display: flex;
    justify-content: center;
    min-height: 100vh; /*최소 높이. 100%는 부모요소의 100%를 사용. 화면의 100%가 아님, 100vh는 부모태그와 상관없이 Viewport Height의 100%를 다 쓰겠다는 의미*/
    width: 800px;
    margin: 50px;
    transition: all;
}

input[id="menuicon"]:checked ~ div[id="mainContent"] {
    width: 500px;
}

/*윗부분*/
.controler {
    display: flex;
    justify-content: space-between; /*아이템들 사이에 균일한 간격을 부여*/
    align-items: center;
    padding : 0px 0px 20px 0px;
}

/*알바 선택*/
.selectWork {
    padding : 0px 0px 10px 0px;
}

  /*년-월 선택*/
.nav-calander {
    display: flex;
    font-weight: 900;
    font-size: 40px;
    color: #8C8C8C;
    cursor: pointer;
}

.year-month {
    display: flex;
    font-size: 35px;
    cursor: pointer;
}

   /*work 선택*/
.work {
    display: flex;
}

.choose-work {
    display: flex;
    font-size: 20px;
}

/*요일*/
.days {
    display: flex;
    margin: 25px 0 15px 0;
}

/*개별 요일*/
.day {
    width: calc( 100% / 7 );
    text-align: center;
}

/*날짜*/
.dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid #8C8C8C;
    border-right: 1px solid #8C8C8C;
} 

.date {
    width: calc( 100% / 7 );
    text-align: right;
    border-bottom: 1px solid #8C8C8C;
    border-left: 1px solid #8C8C8C;
    padding: 5px 5px ;
}

/*일요일 빨간색*/
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color : #F15F5F;
}

/*토요일 파란색*/
.day:nth-child(7n),
.date:nth-child(7n) {
    color : #6799FF;
}

/*이번 달 날짜 제외 투명도 적용*/
.other {
    opacity: 0.3;
}


